body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#main-menu,
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.section {
  display: none; /* Abschnitte zunächst ausgeblendet */
}

/* Buttons vertikal anordnen */
#main-menu button,
#topic-buttons button,
#lernmaterial-section button,
#muster-section button {
  display: block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Quiz-Antwort-Labels */
#topic-quiz-container label,
#prufung-quiz-container label {
  display: block;
  margin: 5px 0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}